{% extends "blog/base.html" %}
{% load blog_tags %}
{% load static %}
{% block title %}My Blog{% endblock %}

{% block content %}



<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
          
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>
          {% if tag %}
          <h2 class="pb-4 mb-4 font-italic border-bottom">
            Posts tagged with "{{ tag.name }}"
          </h2>
          {% endif %}

          {% for post in posts %}
          <div class="blog-post">
            <h2 class="blog-post-title">
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h2>
            <p class="font-italic">Tags: 
              {% for tag in post.tags.all %}
              <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                {{ tag.name }}
              </a>
              {% if not forloop.last %}, {% endif %}
              {% endfor %}
            </p>
            <p class="blog-post-meta"> {{ post.created }} by {{ post.author }}</p>
                
            <p>{{ post.body|markdown|truncatewords:30 }}</p>
          </div><!-- /.blog-post -->
          {% endfor %}
    
          {% include "pagination.html" with page=posts %}         
    
        </div><!-- /.blog-main -->
    
        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">Saw you downtown singing the Blues. Watch you circle the drain. Why don't you let me stop by? Heavy is the head that <em>wears the crown</em>. Yes, we make angels cry, raining down on earth from up above.</p>
          </div>

          <div>
            <p>
              <a href="{% url "blog:post_feed" %}">
                Subscribe to my RSS feed
              </a>
            </p>
          </div>
    
          <div class="p-4">
            <h4 class="font-italic">Recent posts</h4>
            <p class="list-unstyled mb-0">
              {% show_latest_posts 4 %}
            </p>
          </div>

          <div class="p-4">
            <h4 class="font-italic">Most commented posts</h4>
            {% get_most_commented_posts as most_commented_posts %}
            <ul>
              {% for post in most_commented_posts %}
              <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
    
          <div class="p-4">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->
    
      </div><!-- /.row -->

</main><!-- /.container -->
{% endblock %}