{% extends "blog/base.html" %}

{% block title %}Share a Post{% endblock %}

{% block content %}
<div class="container">
    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>
            "{{ post.title }}" was successfully sent to 
            {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h3>Share "{{ post.title }}" by e-mail</h3>

        <form method="post">
            <div class="form-group">
                <p>
                    <label for="">Name:</label>
                    <input type="text" name="name" maxlength="25" >
                </p>
                <p>
                    <label for="">Email:</label>
                    <input type="email" name="email" maxlength="320" >
                </p>
                <p>
                    <label for="">To:</label>
                    <input type="email" name="to" maxlength="320" >
                </p>
                <p>
                    <label for="">Comments:</label>
                    <textarea name="comments" cols="30" rows="10"></textarea>
                </p>
                {% csrf_token %}
                <input type="submit" value="Send e-mail">
            </div>
        </form>
    {% endif %}
</div>
       

{% endblock %}